Repository durfygh/homelab-iac: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_dmz, build_infra, build_dev, build_prd

build_dmz:
  stage: triggers
  trigger:
    include: dmz/.gitlab/.gitlab-ci.yml

build_infra:
  stage: triggers
  trigger:
    include: infra/.gitlab/.gitlab-ci.yml

build_dev:
  stage: triggers
  trigger:
    include: dev/.gitlab/.gitlab-ci.yml

build_prd:
  stage: triggers
  trigger:
    include: prd/.gitlab/.gitlab-ci.yml

update ci
  .gitlab-ci.yml
  dev/.gitlab/.gitlab-ci.yml
  dmz/.gitlab/.gitlab-ci.yml
  infra/.gitlab/.gitlab-ci.yml
  prd/.gitlab/.gitlab-ci.yml
Due: none

Configure Renovate
  renovate.json
Due: none

add matrix
  .gitignore
  dmz/main.tf
  dmz/matrix.tf
Due: build_dmz

update
  dmz/matrix.tf
Due: build_dmz

update
  .gitignore
  dmz/main.tf
Due: build_dmz

update
  infra/main.tf
Due: build_infra

Path conditions:
  build_dmz: any of: dmz/*.tf
  build_infra: any of: infra/*.tf
  build_dev: any of: dev/*.tf
  build_prd: any of: prd/*.tf
